<?php

return [
    /**
     * Define the base path, where modules would live in
     */
    'basepath' => 'app',

    /**
     * Allow namespaces application wide:
     */
    'default' => [
        // ex: 'Carbon\\CarbonImmutable',
    ],

    /**
     * Define presets to be extended in modules
     */
    'presets' => [
        // 'laravel-http' => [
        //     'Illuminate\\Foundation',
        //     'Illuminate\\Routing',
        //     'Illuminate\\Http',
        // ],
    ],

    /**
     * Define each module to be checked
     */
    'modules' => [
        [
            /**
             * Define the module path, excluding the basepath
             */
            'module' => 'First/Module/Path',

            /**
             * Add here module dependencies that should not be extended by other modules
             */
            'needs' => [
                // ex: 'My\\Custom\\Auth\\Implementation'
            ],

            /**
             * Define which namespaces should be allowed in this module and can be extended by other modules
             */
            'accepts' => [
                'Allowed\\Namespace',
            ],

            /**
             * Extends config from a different module:
             */
            'extends' => [
                // 'First/Module/Path',
                // 'laravel-http',
            ],
        ],
        // ... Define other modules
    ],
];
